* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #15171a;
    color: #FFF;
    width: 100%;
}

button {
    cursor: pointer;
}